.container{
    width: 50%;
    height:100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.teste__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

