.teste-display {
  min-height: 100vh;
}

.teste-display_body {
  flex: 1;
  margin: 2em;
  
}

.teste-display,
.teste-display_body {
  display: flex;
  flex-direction: column;
}

.teste-display_content {
  flex: 1;
}


@media (min-width: 770px) {
  .teste-display_body {
    flex-direction: row;
    flex: 1;
  }

  .teste-container{
    width: 50%;
    height:100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
  }

  .teste-display_content {
    flex: 1;
    max-width: 100%;
  }
  }





        