.cols{
  display: flex;
  min-height: calc(100vh - 150px);
  flex: 1;
}

@media (min-width: 992px) { 
  .cols{
      display: flex;
      min-height: calc(100vh - 150px);
    }

    .fluid{
      flex: 1;
    }
  }
