/**DISPLAY RESULTADOS**/

.container{
    min-width: 100%;
}

.resultados-content{
    padding: 5em;
    color: #fff;
}

.counter-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1.2px solid hsla(0,0%, 100%,0.15);
    padding-top: 5em;
}

@media (min-width: 768px) {
    .resultados-title{
        font-size: 7em;
    }
}

/**STYLING**/

.text-indent {
    text-indent: 50px;
}

.resultados-title_main {
    font-family: 'Exo', sans-serif;
    font-size: 4em;
    text-align: center;
}

.resultados-section_titles, .counter {
    font-family: 'Exo', sans-serif;
    font-size: 2.5em;
    padding-bottom: 0.5em;
}

.resultados-section_titles{
    font-weight: 700;
    padding-right: 0.5em;
    color: #ea7d59;
}

.counter {
    font-weight: 700;
}

.answerTitle{
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.answerContent{
    font-family: 'Open sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 300;
    text-indent: 50px;
}
