/**DISPLAY**/
@media (min-width: 768px){
    .sidebar {
      padding-right: 3em;
    }

    .docs-content{
        padding-left: 2em;
        border-left: 1.2px solid hsla(0,0%, 100%,0.15);
    }
  }

/**STYLING**/
@media (min-width: 768px){
    .sidebar-table_title, .sidebar-table_titles {
        text-align: right;
    }
    .main-title { 
        font-size: 4em;
    }

    .main-subtitle {
        font-size: 2em;
    }
}

.docs-styling {
    color: #fff;
}
.main-title, .main-subtitle {
    font-family: 'Exo', sans-serif;
    text-align: center;
}

.main-title {
    padding-top: 0.7em;
    font-size: 2.5em;
}

.main-subtitle {
    font-size: 1.5em;
}

.docs-content {
    font-family: 'Open sans', sans-serif;
    line-height: 1.6;
    font-size: 1.2em;
    font-weight: 300;
}

.docs-title {
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 0.5em;
    padding-top: 1em;
    color: #ea7d59;
}

.docs-pointers {
    font-weight: 600;
}

.text-indent {
    text-indent: 50px;
}

.sidebar-table_titles, .sidebar-table_title {
    font-family: 'Exo', sans-serif;
    font-size: 1.25em;
    padding-bottom: 1em;
}
.sidebar-table_title{
    font-size: 2em;
    padding-top: 1.5em;
}

.sidebar-table_titles {
    font-weight: 700;
    color: #fff;
}




