
.myButton {
  border:2px solid #fff;
  height: 50px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open sans', sans-serif;
	font-size: 1.2em;
	padding: 0 30px;
	text-decoration:none;
}

.myButton:hover, .myButton:focus, .myButton:active {
  background-color: #ea7d59;
  border:1px solid #ea7d59;;
}

.botao--desabilitado {
  color: gray;
  background: lightgrey;
  border-color: lightgrey;
}