/**POSICIONAMENTO**/
.home-container__first-part{
    min-height: calc(100vh - 100px);
}

.home-container__second-part{
    min-height: 100vh;
    padding-bottom: 2em;
}

.img-styling {
    width: 100%;
    margin-top: 1em;
}

@media (min-width: 768px){
    .home-container__second-part{
        max-width: 80%;
        margin: 0 auto;
    }
}
/**STYLING**/

.first-part__home_title{
    font-size: 5em;
}

.legenda{
    font-size: 1.2em;
}

.second-part__home_title{
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.first-part__home_title, .second-part__home_title{
    font-family: 'Exo', sans-serif;
    color: #fff;
}



@media (min-width: 768px){
    .first-part__home_title {
        font-size: 7em;
    }

    .second-part__home_title {
        padding-left: 2em;
    }

    .img-styling {
        width: 90%;
        padding:2em;
    }

    .legenda {
        font-size: 1.5em;
    }

    .second-part__home_title{
        font-size: 4em;
        margin-bottom: 1em;

    }
    .first-part{
        padding-left: 10em;
    }
    
}

/**LINK STYLING**/

.link {
    cursor: pointer;
    font-family: 'Open-sans', sans-serif;
    color:#fff;
    text-decoration: none;
    border-bottom: 2px solid #ea7d59;
    box-shadow: inset 0 -4px 0 #ea7d59  ;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}
  
.link:hover {
    background: #ea7d59;
    text-decoration:none;
    color: #fff;
  }

.legenda {
    font-family: 'Open sans', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}




