.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 1rem;
    border-bottom: 1px solid hsla(0,0%, 100%,0.15);
    background: transparent;
  }
  
  .navbar__logo {
    display: block;
    height: 100px;
    padding: 1em 0;
  }
  
  @media (min-width: 768px) {
    .navbar {
      padding: 0 10%;
    }
  }