.footer_container {
    border-top: 1.2px solid hsla(0,0%, 100%,0.15);
    height:100px;
    padding-left: 10em;
    padding-top: 1.5em;
    display: flex;
    align-items: center;
}

.footer-spacing {
    padding-bottom:0.5em;
    padding-right: 2em;
}

.footer-link {
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.footer-link:hover {
    color: #ea7d59;
    text-decoration: none;
    font-weight: 600;
}