/****OPÇÕES MENU****/

  .navbar-menu__opcoes {
    list-style: none;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    padding: 2rem 1rem 0;
    margin: 0;
    background-color: #ea7d59;
    background-image: linear-gradient(119deg, rgba(33, 28, 90, 0.7), rgba(66, 28, 80, 0.7));
    font-family: 'Exo', sans-serif;
    transform: translateX(-100%);
  }
  
  .navbar-menu__opcoes--aberto {
    transition: transform 1s ease-in-out;
    transform: translateX(0);
  }
  
  .navbar-menu__opcoes--ativo {
    border-bottom: 2px solid white;
  }
  
  .navbar-menu__opcoes li + li {
    margin-top: 1rem;
  }
  
  .navbar-menu__opcoes li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

/****BUTTONS****/

/* clear button default styling*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

.material-icons.md-light { 
  color: rgba(255, 255, 255, 1); 
}
.material-icons.md-light.md-inactive { 
  color: rgba(255, 255, 255, 0.3); 
}

.navbar-menu__botao {
    cursor: pointer;
    font-size: 16px;
    padding: 0rem;
  }
  
  .navbar-menu__botao--aberto:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
  }
  

  /****STYLING E DISPLAY PARA DESKTOP****/

  @media (min-width: 768px) { 
    .navbar-menu__botao {
      display: none;
    }
  
    .navbar-menu__opcoes {
      display: flex;
      align-items: center;
      position: initial;
      height: initial;
      width: initial;
      padding: initial;
      background: initial;
      transform: initial;
      transition: initial;
      font-family: 'Exo', sans-serif;
      font-size: 1.2em;
    }
  
    .navbar-menu__opcoes--aberto {
      transform: initial;
    }
  
    .navbar-menu__opcoes--ativo {

    }
  
    .navbar-menu__opcoes li + li {
      margin-top: 0;
      margin-left: 1rem;
    }
  
    .navbar-menu__opcoes li a {
      color: #fff;
      padding: 18px 25px;
    }
  }