/**STYLING**/
@media (min-width: 768px){
  .sidebar_styling{
    text-align: right;
  }
}

.sidebar_styling {
    font-family: 'Exo', sans-serif;
    padding-bottom: 1em;
  }
  
  .sidebar_links {
  text-decoration: none; 
  color: #B2A7B8;
  font-size: 1em;
  padding-left: 1em;
  }
  
  .sidebar_links:hover{
  text-decoration: none;
  color: #fff;
  }
