.links_sidebar {
    text-decoration: none; 
    color: #B2A7B8;
    font-size: 1.2em;
    padding-left: 1em;
    font-family: 'Exo', sans-serif;
}

div > p {
    color: #fff;
    font-size: 1.25em;
    padding-bottom: 1em;
}

@media (min-width: 992px) { 
    .fixed {
        width: 15%;
        text-align: left;
        padding: 2em;
      }

    .spacing_sidebar{
        padding-bottom: 1.5em;
    }
}
