@import url('https://fonts.googleapis.com/css?family=Exo|Open+Sans'); 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(33, 28, 90);
    background-image: linear-gradient(119deg, rgb(33, 28, 90), rgb(66, 28, 80));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
